.feedPosts {
	max-width: 840px;
	display: flex;
	flex-direction: column;
	margin: 20px auto;
}

.feedPostsImageGrid {
	width: 100%;
	background-color: white;
	border: 1px solid lightgray;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: auto;
	margin-bottom: 20px;
}

.feedPostName {
	margin-left: 10px;
}

.feedPostImage {
	width: calc(100% - 2px);
	aspect-ratio: 4 / 3;
	margin: 1px;
	object-fit: cover;
}

.feedPostInputDrawer {
	display: flex;
}

.feedPostInputComment {
	flex: 1;
}
